<div class="row" style="margin-top: 20%;">
  <div class="col-md-10 mx-auto">
    <div class="card card-body">
      <div class="heading-section col-md-12 text-center">
        <h2>C'est quoi NodeJS</h2>
    <p>Node.js est une plate-forme basée sur le moteur d'exécution JavaScript de Chrome permettant de créer facilement des applications réseau rapides et évolutives. Node.js utilise un modèle d'E / S non bloquant, basé sur les événements, qui le rend léger et efficace, idéal pour les applications temps réel gourmandes en données exécutées sur des périphériques distribués.</p>
    <p>Node.js is an open source, cross-platform runtime environment for developing server-side and networking applications. Node.js applications are written in JavaScript, and can be run within the Node.js runtime on OS X, Microsoft Windows, and Linux.

Node.js also provides a rich library of various JavaScript modules which simplifies the development of web applications using Node.js to a great extent.</p>

<h2>Concepts</h2>
<p>Le diagramme suivant décrit certaines parties importantes de Node.js, que nous verrons en détail dans les chapitres suivants.</p>
<img src="img/diagramme.PNG" alt="diagramme" style="height: 500px; width: 500px; margin-left: auto; margin-right: auto; ">

<h2>Où utiliser Node.js?</h2>
<p>Vous trouverez ci-dessous les domaines dans lesquels Node.js s’est révélé un partenaire technologique idéal.</p>
<ul>
    <li>Applications liées I / O</li>
    <li>Data Streaming Applications</li>
    <li>Données en temps réel intensives (DIRT)</li>
    <li>Applications basées sur les API JSON</li>
    <li>Applications à page unique</li>
</ul>
  </div>
</div>